/*88888888 8888888b.  888b    888 8888888b.
888        888  "Y88b 8888b   888 888  "Y88b
888        888    888 88888b  888 888    888
8888888    888    888 888Y88b 888 888    888
888        888    888 888 Y88b888 888    888
888        888    888 888  Y88888 888    888
888        888  .d88P 888   Y8888 888  .d88P
888        8888888P"  888    Y888 8888888P"

This file defines our six color schemes:
.blue-on-green
.blue-on-purple
.blue-on-white
.green-on-blue
.purple-on-blue
.white-on-blue

Each scheme has it's own nested section where
all colors throughout the system are defined.
Please use this file for colors only! */

/* Standard when no color scheme class is set */
body {
  color: var(--white);
  background-color: var(--blue);
  border-color: var(--blue);

  /* Inherit border- and background-color */
  & main,
  & footer,
  & footer h2,
  & article,
  & section,
  & figure,
  & figcaption,
  & div,
  & nav,
  & nav ul,
  & nav ul li {
    border-color: inherit;
    background-color: inherit;
  }

  /* <nav> */
  & > nav li {
    &:nth-of-type(odd) a,
    &:nth-of-type(even) a:hover,
    &:nth-of-type(even) a:focus {
      color: var(--white);
      background-color: var(--blue);
      border-color: var(--white);
    }
    &:nth-of-type(even) a,
    &:nth-of-type(odd) a:hover,
    &:nth-of-type(odd) a:focus {
      color: var(--blue);
      background-color: var(--white);
      border-color: var(--blue);
    }
  }

  /* Back to top */
  & > nav a {
    background-color: var(--blue);
  }

  /* <nav> items Needs specificity or they will be overwritten below */
  & > nav li a.active,
  & > nav li a.active:hover,
  &.blue-on-green > nav li a.active,
  &.blue-on-green > nav li a.active:hover,
  &.blue-on-purple > nav li a.active,
  &.blue-on-purple > nav li a.active:hover,
  &.blue-on-white > nav li a.active,
  &.blue-on-white > nav li a.active:hover,
  &.green-on-blue > nav li a.active,
  &.green-on-blue > nav li a.active:hover,
  &.purple-on-blue > nav li a.active,
  &.purple-on-blue > nav li a.active:hover,
  &.white-on-blue > nav li a.active,
  &.white-on-blue > nav li a.active :hover {
    background: var(--highlight);
    border-color: var(--highlight);
    color: var(--blue);
  }

  /* Color for box-shadow on outset headings */
  & h2,
  & figcaption {
    &:before,
    &:after {
      color: var(--blue);
    }
  }

  /* Color for outset titles */
  & main {
    & > section,
    & > article {
      &.title-outset-left,
      &.title-outset-right {
        & h2 {
          color: var(--white);
          background-color: var(--blue);
          border-color: var(--blue);
          &:before,
          &:after {
            color: var(--blue);
          }
        }
      }
    }
  }
}

/*  888      888                                                                                              
    888      888                                                                                              
    888      888                                                                                              
    88888b.  888 888  888  .d88b.          .d88b.  88888b.          .d88b.  888d888 .d88b.   .d88b.  88888b.  
    888 "88b 888 888  888 d8P  Y8b        d88""88b 888 "88b        d88P"88b 888P"  d8P  Y8b d8P  Y8b 888 "88b 
    888  888 888 888  888 88888888 888888 888  888 888  888 888888 888  888 888    88888888 88888888 888  888 
d8b 888 d88P 888 Y88b 888 Y8b.            Y88..88P 888  888        Y88b 888 888    Y8b.     Y8b.     888  888 
Y8P 88888P"  888  "Y88888  "Y8888          "Y88P"  888  888         "Y88888 888     "Y8888   "Y8888  888  888 
                                                                        888                                   
                                                                   Y8b d88P                                   
                                                                    "Y88P"
*/
.blue-on-green {
  color: var(--blue);
  background-color: var(--green);
  border-color: var(--blue);

  & .blue-on-purple {
    border-color: var(--purple);
  }
  & .white-on-blue {
    border-color: var(--blue);
  }
  & .blue-on-white {
    border-color: var(--white);
  }

  /* <nav> */
  & > nav li {
    &:nth-of-type(odd) a,
    &:nth-of-type(even) a:hover,
    &:nth-of-type(even) a:focus {
      color: var(--blue);
      background-color: var(--green);
      border-color: var(--blue);
    }
    &:nth-of-type(even) a,
    &:nth-of-type(odd) a:hover,
    &:nth-of-type(odd) a:focus {
      color: var(--green);
      background-color: var(--blue);
      border-color: var(--green);
    }
  }
  /* Back to top */
  & > nav a {
    background-color: var(--green);
  }

  /* Color for box-shadow on outset headings */
  & h2,
  & figcaption {
    &:before,
    &:after {
      color: var(--green);
    }
  }

  /* Color for outset titles */
  & main {
    & > section,
    & > article {
      &.title-outset-left,
      &.title-outset-right {
        & h2 {
          color: var(--blue);
          background-color: var(--green);
          border-color: inherit;

          &:before,
          &:after {
            color: var(--green);
          }
        }
      }
    }
  }
}

/*  888      888                                                                                      888          
    888      888                                                                                      888          
    888      888                                                                                      888          
    88888b.  888 888  888  .d88b.          .d88b.  88888b.         88888b.  888  888 888d888 88888b.  888  .d88b.  
    888 "88b 888 888  888 d8P  Y8b        d88""88b 888 "88b        888 "88b 888  888 888P"   888 "88b 888 d8P  Y8b 
    888  888 888 888  888 88888888 888888 888  888 888  888 888888 888  888 888  888 888     888  888 888 88888888 
d8b 888 d88P 888 Y88b 888 Y8b.            Y88..88P 888  888        888 d88P Y88b 888 888     888 d88P 888 Y8b.     
Y8P 88888P"  888  "Y88888  "Y8888          "Y88P"  888  888        88888P"   "Y88888 888     88888P"  888  "Y8888  
                                                                   888                       888                   
                                                                   888                       888                   
                                                                   888                       888               
*/
.blue-on-purple {
  color: var(--blue);
  background-color: var(--purple);
  border-color: var(--blue);

  & .blue-on-green {
    border-color: var(--purple);
  }
  & .blue-on-purple {
    border-color: var(--blue);
  }

  /* <nav> */
  & > nav li {
    &:nth-of-type(odd) a,
    &:nth-of-type(even) a:hover,
    &:nth-of-type(even) a:focus {
      color: var(--blue);
      background-color: var(--purple);
      border-color: var(--blue);
    }
    &:nth-of-type(even) a,
    &:nth-of-type(odd) a:hover,
    &:nth-of-type(odd) a:focus {
      color: var(--purple);
      background-color: var(--blue);
      border-color: var(--purple);
    }
  }
  /* Back to top */
  & > nav a {
    background-color: var(--purple);
  }

  /* Color for box-shadow on outset headings */
  & h2,
  & figcaption {
    &:before,
    &:after {
      color: var(--purple);
    }
  }

  /* Color for outset titles */
  & main {
    & > section,
    & > article {
      &.title-outset-left,
      &.title-outset-right {
        & h2 {
          color: var(--blue);
          background-color: var(--purple);
          border-color: inherit;

          &:before,
          &:after {
            color: var(--purple);
          }
        }
      }
    }
  }
}

/*  888      888                                                                 888      d8b 888            
    888      888                                                                 888      Y8P 888            
    888      888                                                                 888          888            
    88888b.  888 888  888  .d88b.          .d88b.  88888b.         888  888  888 88888b.  888 888888 .d88b.  
    888 "88b 888 888  888 d8P  Y8b        d88""88b 888 "88b        888  888  888 888 "88b 888 888   d8P  Y8b 
    888  888 888 888  888 88888888 888888 888  888 888  888 888888 888  888  888 888  888 888 888   88888888 
d8b 888 d88P 888 Y88b 888 Y8b.            Y88..88P 888  888        Y88b 888 d88P 888  888 888 Y88b. Y8b.     
Y8P 88888P"  888  "Y88888  "Y8888          "Y88P"  888  888         "Y8888888P"  888  888 888  "Y888 "Y8888  
*/
.blue-on-white {
  color: var(--blue);
  background-color: var(--white);
  border-color: var(--blue);

  & .blue-on-white {
    border-color: var(--blue);
  }
  & .blue-on-green {
    border-color: var(--green);
  }

  /* <nav> */
  & > nav li {
    &:nth-of-type(odd) a,
    &:nth-of-type(even) a:hover,
    &:nth-of-type(even) a:focus {
      color: var(--blue);
      background-color: var(--white);
      border-color: var(--blue);
    }
    &:nth-of-type(even) a,
    &:nth-of-type(odd) a:hover,
    &:nth-of-type(odd) a:focus {
      color: var(--white);
      background-color: var(--blue);
      border-color: var(--white);
    }
  }
  /* Back to top */
  & > nav a {
    background-color: var(--white);
  }

  /* Color for box-shadow on outset headings */
  & h2,
  & figcaption {
    &:before,
    &:after {
      color: var(--white);
    }
  }

  /* Color for outset titles */
  & main {
    & > section,
    & > article {
      &.title-outset-left,
      &.title-outset-right {
        & h2 {
          color: var(--blue);
          background-color: var(--white);
          border-color: inherit;

          &:before,
          &:after {
            color: var(--white);
          }
        }
      }
    }
  }
}

/*                                                                             888      888                   
                                                                               888      888                   
                                                                               888      888                   
     .d88b.  888d888 .d88b.   .d88b.  88888b.          .d88b.  88888b.         88888b.  888 888  888  .d88b.  
    d88P"88b 888P"  d8P  Y8b d8P  Y8b 888 "88b        d88""88b 888 "88b        888 "88b 888 888  888 d8P  Y8b 
    888  888 888    88888888 88888888 888  888 888888 888  888 888  888 888888 888  888 888 888  888 88888888 
d8b Y88b 888 888    Y8b.     Y8b.     888  888        Y88..88P 888  888        888 d88P 888 Y88b 888 Y8b.     
Y8P  "Y88888 888     "Y8888   "Y8888  888  888         "Y88P"  888  888        88888P"  888  "Y88888  "Y8888  
         888                                                                                                  
    Y8b d88P                                                                                                  
     "Y88P"
*/
.green-on-blue {
  color: var(--green);
  background-color: var(--blue);
  border-color: var(--green);

  & .green-on-blue {
    border-color: var(--blue);
  }

  /* <nav> */
  & > nav li {
    &:nth-of-type(odd) a,
    &:nth-of-type(even) a:hover,
    &:nth-of-type(even) a:focus {
      color: var(--green);
      background-color: var(--blue);
      border-color: var(--green);
    }
    &:nth-of-type(even) a,
    &:nth-of-type(odd) a:hover,
    &:nth-of-type(odd) a:focus {
      color: var(--blue);
      background-color: var(--green);
      border-color: var(--blue);
    }
  }
  /* Back to top */
  & > nav a {
    background-color: var(--blue);
  }

  /* Color for outset titles */
  & main {
    & > section,
    & > article {
      &.title-outset-left,
      &.title-outset-right {
        & h2 {
          color: var(--green);
          background-color: var(--blue);
          border-color: inherit;

          &:before,
          &:after {
            color: var(--blue);
          }
        }
      }
    }
  }
}

/*                                     888                                          888      888                   
                                       888                                          888      888                   
                                       888                                          888      888                   
    88888b.  888  888 888d888 88888b.  888  .d88b.          .d88b.  88888b.         88888b.  888 888  888  .d88b.  
    888 "88b 888  888 888P"   888 "88b 888 d8P  Y8b        d88""88b 888 "88b        888 "88b 888 888  888 d8P  Y8b 
    888  888 888  888 888     888  888 888 88888888 888888 888  888 888  888 888888 888  888 888 888  888 88888888 
d8b 888 d88P Y88b 888 888     888 d88P 888 Y8b.            Y88..88P 888  888        888 d88P 888 Y88b 888 Y8b.     
Y8P 88888P"   "Y88888 888     88888P"  888  "Y8888          "Y88P"  888  888        88888P"  888  "Y88888  "Y8888  
    888                       888                                                                                  
    888                       888                                                                                  
    888                       888
*/
.purple-on-blue {
  color: var(--purple);
  background-color: var(--blue);
  border-color: var(--purple);

  /* <nav> */
  & > nav li {
    &:nth-of-type(odd) a,
    &:nth-of-type(even) a:hover,
    &:nth-of-type(even) a:focus {
      color: var(--purple);
      background-color: var(--blue);
      border-color: var(--purple);
    }
    &:nth-of-type(even) a,
    &:nth-of-type(odd) a:hover,
    &:nth-of-type(odd) a:focus {
      color: var(--blue);
      background-color: var(--purple);
      border-color: var(--blue);
    }
  }

  & .blue-on-purple {
    border-color: var(--purple);
  }

  /* Back to top */
  & > nav a {
    background-color: var(--blue);
  }

  /* Color for outset titles */
  & main {
    & > section,
    & > article {
      &.title-outset-left,
      &.title-outset-right {
        & h2 {
          color: var(--purple);
          background-color: var(--blue);
          border-color: inherit;

          &:before,
          &:after {
            color: var(--blue);
          }
        }
      }
    }
  }
}

/*                888      d8b 888                                            888      888                   
                  888      Y8P 888                                            888      888                   
                  888          888                                            888      888                   
    888  888  888 88888b.  888 888888 .d88b.          .d88b.  88888b.         88888b.  888 888  888  .d88b.  
    888  888  888 888 "88b 888 888   d8P  Y8b        d88""88b 888 "88b        888 "88b 888 888  888 d8P  Y8b 
    888  888  888 888  888 888 888   88888888 888888 888  888 888  888 888888 888  888 888 888  888 88888888 
d8b Y88b 888 d88P 888  888 888 Y88b. Y8b.            Y88..88P 888  888        888 d88P 888 Y88b 888 Y8b.     
Y8P  "Y8888888P"  888  888 888  "Y888 "Y8888          "Y88P"  888  888        88888P"  888  "Y88888  "Y8888  
*/
.white-on-blue {
  color: var(--white);
  background-color: var(--blue);
  border-color: var(--white);

  & .white-on-blue {
    border-color: var(--white);
  }

  & .green-on-blue {
    border-color: var(--green);
  }

  /* <nav> uses the standard colors */
}

/* Filters to change colors on a different background,
  used for HvA Branding and SVG images on links...
  Generated using https://isotropic.co/tool/hex-color-to-css-filter/
*/
body {
  /* From black to white */
  &:before,
  &:after,
  & a:after,
  &.blue-on-white .white-on-blue a:after {
    filter: invert(100%) sepia(18%) saturate(0%) hue-rotate(158deg) brightness(100%) contrast(106%);
  }

  /* From black to blue */
  &.blue-on-white:before, /* HvA Logo */
  &.blue-on-white:after, /* HvA Payoff */
  &.blue-on-white a:after, /* Link icons */
  & .blue-on-white a:after, /* Link icons */
  &.blue-on-purple:before,
  &.blue-on-purple:after,
  &.blue-on-purple a:after,
  & .blue-on-purple a:after,
  &.blue-on-green:before,
  &.blue-on-green:after,
  &.blue-on-green a:after,
  & .blue-on-green a:after {
    filter: invert(7%) sepia(34%) saturate(5592%) hue-rotate(235deg) brightness(101%) contrast(115%);
  }

  /* From black to purple */
  &.purple-on-blue:before,
  &.purple-on-blue:after,
  &.purple-on-blue a:after,
  & .purple-on-blue a:after {
    filter: invert(60%) sepia(66%) saturate(4289%) hue-rotate(228deg) brightness(101%) contrast(92%);
  }

  /* From black to green */
  &.green-on-blue:before,
  &.green-on-blue:after,
  &.green-on-blue a:after,
  & .green-on-blue a:after {
    filter: invert(80%) sepia(28%) saturate(677%) hue-rotate(107deg) brightness(98%) contrast(89%);
  }
}
