/* This file implements mandatory HvA Branding */

body:before,
body:after {
  content: '';
  display: block;
  position: absolute;
  white-space: pre-wrap;
  width: 21.6rem;
  height: 2rem;
  left: 1rem;
  background-size: 10rem;
  background-position: center left;
  font-size: 0.8rem;
  line-height: 1rem;
  z-index: 0;
}

/* HvA Logo (top) */
body:before {
  top: 1rem;
  background: url(/hvalogo.svg) no-repeat center left;
}

/* HvA Logo (top) and program specific name */
@media (min-width: 30rem) {
  body:before {
    color: #000;
    content: 'Frontend \A Design & Development';
    padding: 0.04rem 1rem 0.3rem 12rem;
    background: url(/hvalogo.svg) no-repeat center left;
    background: url(/hvalogo.svg) no-repeat center left,
      linear-gradient(90deg, transparent calc(50% - 2px), #000 calc(50%), transparent calc(50%));
  }
}

/* HvA payoff, creating tomorrow */
body:after {
  height: 1.2rem;
  bottom: 1rem;
  background: url(/hvapayoff.svg) no-repeat center left;
}
