:root {
  --white: #ffffff;
  --blue: #050542;
  --green: #66e5bf;
  --purple: #a675f5;
  --attention: #050542;
  --attention-background: #05054233;
  --highlight: #fffc86;
  --rounded: 0.5rem;
  --pilled: 2rem;
  --shadow: 0.3rem;
}
