/*88888888 8888888b.  888b    888 8888888b.
888        888  "Y88b 8888b   888 888  "Y88b
888        888    888 88888b  888 888    888
8888888    888    888 888Y88b 888 888    888
888        888    888 888 Y88b888 888    888
888        888    888 888  Y88888 888    888
888        888  .d88P 888   Y8888 888  .d88P
888        8888888P"  888    Y888 8888888P"

This is our main stylesheet, the intention is
to make building microsites way easier. Feel
free to use everything you like and please
leave issues for anything you don't like at:
https://github.com/fdnd/styleguide/issues */

@import '_reset.css'; /* Eric Meyers reset and some rules of our own */
@import '_rootvars.css'; /* A series of global variables */
@import '_colors.css'; /* A series of color classes to be used in HTML */
@import '_hvabranding.css'; /* HvA Branding: logo and payoff */
@import '_typography.css'; /* All typography used in the site */
@import '_layout.css'; /* Main layout on different screen sizes */
@import '_organisms.css'; /* Layout of smaller block-level elements */
@import '_menu.css'; /* Layout of the menu items on different screen sizes */
@import '_images.css'; /* Layout of all things concerning images */
@import '_forms.css'; /* Layout of everyhting needed in forms */
@import '_utilityclasses.css';

/* The actual title */
/* 
body > header > h1 > span {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.5rem 1rem 0 1rem;
  background: var(--blue);
  border-top-left-radius: var(--rounded);
}
body > header > h1 > span:before,
body > header > h1 > span:after {
  content: '';
  position: absolute;
  background-color: transparent;
  width: var(--rounded);
  height: calc(2 * var(--rounded));
  border-bottom-right-radius: var(--rounded);
}
body > header > h1 > span:before {
  top: calc(-2 * var(--rounded));
  right: 0;
  box-shadow: 0 var(--rounded) 0 0 var(--blue);
}
body > header > h1 > span:after {
  left: calc(-1 * var(--rounded));
  bottom: 0;
  box-shadow: 0 var(--rounded) 0 0 var(--blue);
} */
/* FDND abbr (with a span in it) */
/* 
body > header > h1 > abbr {
  position: absolute;
  padding: 0 1rem calc(1rem + var(--shadow)) var(--shadow);
  top: 0;
  left: 0;
  width: fit-content;
  background: var(--blue);
  text-decoration: none;
  border-bottom-right-radius: var(--rounded);
}
body > header > h1 > abbr:before,
body > header > h1 > abbr:after {
  content: '';
  position: absolute;
  background-color: transparent;
  width: var(--rounded);
  height: calc(2 * var(--rounded));
  border-top-left-radius: var(--rounded);
}
body > header > h1 > abbr:before {
  top: 0;
  right: calc(-1 * var(--rounded));
  box-shadow: 0 calc(-1 * var(--rounded)) 0 0 var(--blue);
}
body > header > h1 > abbr:after {
  left: 0;
  bottom: calc(-2 * var(--rounded));
  box-shadow: 0 calc(-1 * var(--rounded)) 0 0 var(--blue);
}
body > header > h1 > abbr > span {
  display: block;
  padding: 0.5rem 1.2rem;
  border: 1px solid var(--green);
  border-radius: var(--pilled);
  border-radius: var(--rounded);
  box-shadow: calc(-1 * var(--shadow)) var(--shadow) 0 0 var(--green);
  color: var(--green);
  font-size: 2rem;
  text-transform: lowercase;
} */

/* <MAIN> */
/* Block level elements in main */

/* main > article,
main > section {
  margin: 2rem 0 2rem 0;
  padding: 2rem;
  background: var(--green);
  color: var(--blue);
  border-radius: var(--rounded);
}
main > article > h2:first-of-type,
main > section > h2:first-of-type {
  margin: -2rem 0 2rem -2rem;
  padding: 0 1rem 1rem 2rem;
  position: relative;
  width: fit-content;
  font-size: calc(1.5rem + 1.5vw);
  line-height: calc(1.5rem + 1.5vw);
  color: var(--white);
  background: var(--blue);
  border-bottom-right-radius: var(--rounded);
  z-index: 2;
}
main > article > h2:first-of-type:before,
main > section > h2:first-of-type:before,
main > article > h2:first-of-type:after,
main > section > h2:first-of-type:after {
  content: '';
  position: absolute;
  background-color: transparent;
  width: var(--rounded);
  height: calc(2 * var(--rounded));
  border-top-left-radius: var(--rounded);
}
main > article > h2:first-of-type:before,
main > section > h2:first-of-type:before {
  top: 0;
  right: calc(-1 * var(--rounded));
  box-shadow: 0 calc(-1 * var(--rounded)) 0 0 var(--blue);
}
main > article > h2:first-of-type:after,
main > section > h2:first-of-type:after {
  left: 0;
  bottom: calc(-2 * var(--rounded));
  box-shadow: 0 calc(-1 * var(--rounded)) 0 0 var(--blue);
}
 */
