h1 {
    color: var(--primary);
    font-size: 3em;
    font-weight: normal;
    line-height:1.5;
}
h1 em {
    background-color:var(--primary);
    color:var(--secondary);
    font-style: normal;
    border-radius: var(--radius);
    padding: 0 .5rem
}